<!-- HEADER DESKTOP-->
<header class="header-desktop">
	<div class="section__content section__content--p30">
		<div class="container-fluid">
			<div class="header-wrap">
				<form class="form-header"></form>
				<div class="header-button">
					<div class="account-wrap">
						<div class="account-item clearfix js-item-menu">
							<div class="content">Bonjour {{ app.user.firstName }}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<!-- HEADER DESKTOP-->

