{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<div class="container">
    
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
        <div class="row">
            <div class="col">
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="_username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
            </div>
            <div class="col">
                <label for="inputPassword" class="sr-only">Mot de passe</label>
                <input type="password" name="_password" id="inputPassword" class="form-control" placeholder="Password" required>
            </div>
            <div class="col">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button class="btn btn-primary" type="submit">Connexion</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}
