{% extends 'layout.html.twig' %}

{% block title %}Connexion!{% endblock %}

{% block main %}
<form method="post" class="w-50 m-auto">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h1>Connexion</h1>
    <label for="inputUsername">Identifiant</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Whatson" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="*****" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-primary" type="submit">
        Se connecter
    </button>
    <a class="btn btn-primary my-2" href="{{ path('app_register') }}">Pas encore de compte?</a>

</form>
{% endblock %}
