

<ul>
  <li>
    <a href="{{ path('customer_index') }}">Customer</a>
  </li>
  <li>
    <a href="{{ path('place_index') }}">Place</a>
  </li>
  <li>
    <a href="{{ path('appointment_index') }}">Appointment</a>
  </li>
</ul>

