{% extends 'layout.html.twig' %}

{% block title %}Modifier le client{% endblock %}

{% block main %}
    <div class="w-50 m-auto">
        <h1>Modifier le client</h1>

        {{ include('customer/_form.html.twig', {'button_label': 'Modifier'}) }}
        
        {{ include('customer/_delete_form.html.twig') }}
    </div>
{% endblock %}
