{% extends 'layout.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block main %}
    <div class="w-50 m-auto">
        <h1>Ajouter un nouveau client</h1>

        {{ include('customer/_form.html.twig') }}
    </div>
{% endblock %}
