{% extends 'base.html.twig' %}

{% block title %}Nouveau client{% endblock %}

{% block body %}
    <h1>Creer un nouveau client</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('customer_index') }}">Retour à la liste</a>
        <div class="RetourAuMenu">
            <a href="/">Retour au menu</a>
        </div>
{% endblock %}
