{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur mon test Symfony !</h1>
    {% if app.user %}
    <button type="submit" class="btn btn-primary">Déconnexion</button>
    {% endif %}
{% endblock %}
