<form method="post" action="{{ path('appointment_delete', {'id': appointment.id}) }}" onsubmit="return confirm('Vouslez-vous vraiment supprimer ce rendez-vous?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
