<form method="post" action="{{ path('appointment_delete', {'idUser': appointment.idUser.id,'idCustomer':appointment.idCustomer.id,'idPlace':appointment.idPlace.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ appointment.idUser.id) }}">
    <button class="btn">Delete</button>
</form>
