{% extends 'layout.html.twig' %}

{% block title %}Modifier un Rendez-Vous{% endblock %}

{% block main %}
    <h1>Modifier un rendez-vous</h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('appointment_index') }}">Retour à la liste</a>

    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
