{% extends 'base.html.twig' %}

{% block title %}Edit Appointment{% endblock %}

{% block body %}
    <a href="{{ path('appointment_index') }}"><span class="iconify" data-icon="bx:bx-arrow-back" data-inline="false"></span> Go back</a>

    <h1><b><span class="whatson-web-span">Edit</span> Appointment</b></h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Update'}) }}


    {{ include('appointment/_delete_form.html.twig') }}
{% endblock %}
