{% extends 'layout.html.twig' %}

{% block title %}Modifier un Rendez-Vous{% endblock %}

{% block main %}
<div class="w-50 m-auto">
    <h1>Modifier un rendez-vous</h1>

    {{ include('appointment/_form.html.twig', {'button_label': 'Modifier'}) }}

    {{ include('appointment/_delete_form.html.twig') }}
</div>
{% endblock %}
