{% extends 'layout.html.twig' %}

{% block title %}Nouveau Rendez-Vous{% endblock %}

{% block main %}
<div class="w-50 m-auto">
    <h1>Ajouter un rendez-vous</h1>

    {{ include('appointment/_form.html.twig') }}

</div>
{% endblock %}
