{% extends 'base.html.twig' %}

{% block title %}Clients
{% endblock %}

{% block body %}


	<!-- MAIN CONTENT-->
	<div class="main-content">
		<div class="section__content section__content--p30">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title-5 m-b-35">Bienvenue sur rendez vous.</h3>
                        <p>Vous pouvez</p>
                        <ul>
                            <li>Gerer vos clients</li>
                            <li>Grer vos rendez vous</li>
                            <li>Ajouter des lieux de rendez vous</li>
                        </ul>
					</div>
				</div>
			</div>
		</div>
	</div>


{% endblock %}

