{% extends 'base.html.twig' %}

{% block body %}
<div class="jumbotron jumbotron-fluid bg-success mb-5">
  <div class="container">
    <h1 class="display-4">Whatson Web</h1>
    <p class="lead">Mon petit test ;p</p>
    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      <a class="btn btn-warning my-4 float-right" href="{{ path('app_logout') }}">Déconnexion</a>
    {% endif %}
  </div>
</div>
{% block main %}{% endblock %}
<div class="jumbotron jumbotron-fluid mb-0 mt-5 bg-success">
  <div class="container">
    <p class="lead">Réalisé par Cassandra</p>
  </div>
</div>
{% endblock %}